//
   Created by Sylvanus on 3/22/16.

extends ../layout

block content
    script.
        $(document).ready(function() {
            $("img.img-circle#avatarBtn").bind("click", function() {
                document.getElementById('showProfile').click()
            })
            $.getJSON("api/getUserInfo", function(data, textStatus) {
                $("h2#nickname").text(data.username);
                $("p#whatsup").text(data.whatsup);
                $("img.img-circle#avatar").attr("src", "avatars/"+data.avatar);
                $("td#email").text(data.email);
                $("td#gender").text(data.gender);
                $("td#birthday").text(data.birthday);
                $("td#location").text(data.location);
            })
        })
    .modal.fade#profileModal(tabindex="-1" role="dialog" aria-labelledby="profileModalLabel")
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    .media(style="padding: 30px")
                        .media-body
                            h2#nickname
                            p#whatsup(style="padding: 0 20px 0 0")
                        .media-right
                            img.img-circle#avatar(width="120" height="120")
                .modal-body
                    div(style="padding: 10px 100px")
                        table
                            tr
                                td.text-right Email
                                td &nbsp &nbsp
                                td#email
                            tr
                                td.text-right Gender
                                td &nbsp &nbsp
                                td#gender
                            tr
                                td.text-right Birthday
                                td &nbsp &nbsp
                                td#birthday
                            tr
                                td.text-right Location
                                td &nbsp &nbsp
                                td#location
                .modal-footer
                    button.btn.btn-default(type="button" data-dismiss="modal") Close
    #wrapper
        #sidebar-wrapper
            ul.sidebar-nav
                li.sidebar-brand
                    .pull-right(style="padding: 10px")
                        a(href="/profile")
                            i.icon-gear
                    button#showProfile(type="button" hidden data-toggle="modal" data-target="#profileModal")
                    div(width="200" height="140" style="padding: 60px 60px 30px")
                        img.img-circle#avatarBtn(width="80" height="80" src="images/TS.jpg")
                    p.text-center Sylvanus
                    p.text-center(style="font-size: 12px") sylvanuszhy@gmail.com
                li
                    a(href="/friend") Friends
                li
                    a(href="/conversation") Conversations
                li
                    a(href="#") Subscriptions
        #page-content-wrapper
            //.container-fluid
            block detail
